<!-- View 1 -->
<div>
    <div class="webcam">
        <webcam
            [height]="height"
            [width]="width"
            
            imageType="image/png"
            [trigger]="triggerObservable"
            (imageCapture)="handleImage($event)"
            (initError)="handleInitError($event)"
        ></webcam>
    </div>
    <div>
        <label for="aspect">Aspect:</label>
        <input type="radio" name="aspect" value="282" (click)="changeHeight($event)" checked>16:9
        <input type="radio" name="aspect" value="375" (click)="changeHeight($event)">4:3
        <input type="radio" name="aspect" value="333" (click)="changeHeight($event)">3:2
        <input type="radio" name="aspect" value="500" (click)="changeHeight($event)">1:1
    </div>
    <div>
        <button type="button" (click)="snap()">Snap</button>
    </div>
</div>