<!-- View 2 -->
<div>
    <form [formGroup]="form" (submit)="processSubmit()" enctype="multipart/form-data">
        <div>
            <img [src]="pictureUrl">
        </div>
        <div>
            <label for="title">Title:</label>
            <br>
            <input type="text" formControlName="title" placeholder="Image title">
        </div>
        <div>
            <label for="comments">Comments:</label>
            <br>
            <textarea formControlName="comments" rows="5"></textarea>
        </div>
        <div>
            <button type="button" (click)="back()">Back</button>
            <button type="submit" [disabled]="form.invalid">Post</button>
        </div>
    </form>
</div>